.blog {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.blog h2 {
}
.blog .een {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 2%;
  margin: 2%;
}
.een h3 {
  font-size: x-large;
}
.twee h3 {
  font-size: x-large;
}
.blog .een .parafoto {
  display: flex;
  flex-direction: row;
}
.parafoto p {
  font-size: 25px;
  margin-right: 3%;
}
.blog .een .parafoto img {
  max-width: 300px;
  max-height: 150px;
}

.blog .twee {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 2%;
  margin: 2%;
}

.blog .twee .parafoto {
  display: flex;
  flex-direction: row;
}

.blog .twee .parafoto img {
  max-width: 300px;
  max-height: 150px;
}
