.blog {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.blog h2 {
}
.blog .een {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 2%;
  margin: 2%;
}
.blog .een .parafoto {
  display: flex;
  flex-direction: row;
}

.blog .een .parafoto img {
  width: 20%;
  height: 20%;
}

.blog .twee {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 2%;
  margin: 2%;
}

.blog .twee .parafoto {
  display: flex;
  flex-direction: row;
}

.blog .twee .parafoto img {
  width: 20%;
  height: 20%;
  object-fit: scale-down;
}
