.contact {
  display: flex;
  flex-direction: column;
}
.contact h2 {
}
.contact .een {
}
.contact .eenplaatje1 {
  max-width: 300px;
  max-height: 150px;
}

.contact .tweeplaatje2 {
  max-width: 300px;
  max-height: 150px;
}
