footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  bottom: 2%;
  width: 80vw;
  /* Height of the footer*/
  height: 15%;
  background-color: white;
}
.adres {
  display: flex;
  flex-direction: column;
}
.bezorg {
  display: flex;
  flex-direction: column;
}
.voorwaarden {
  display: flex;
  flex-direction: column;
}
