footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.adres {
  display: flex;
  flex-direction: column;
}
.bezorg {
  display: flex;
  flex-direction: column;
}
.voorwaarden {
  display: flex;
  flex-direction: column;
}
