header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;
  box-shadow: 5px 5px 8px rgb(132, 95, 167);
}

body header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header ul li a {
  text-decoration: none;
  font-size: 1rem;
}
li {
  text-decoration: none;
  list-style: none;
}
.deroset {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px rgb(132, 95, 167);
}
.deroset img {
  width: 20%;
}
.smaakdag {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  border-radius: 5%;
  box-shadow: 5px 5px 8px rgb(132, 95, 167);
}
.smaakpop {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  border-radius: 5%;
  box-shadow: 5px 5px 8px rgb(132, 95, 167);
}
