.overons {
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.bijelkaar {
  display: flex;
  flex-direction: row;
}
.overons h2 {
}

.overons .een {
  margin: 1%;
}
.overons .twee {
  margin: 4%;
}
.een p {
  font-size: 1rem;
}

.eenplaatje {
  width: 15rem;
  height: 15rem;
  margin-left: 10%;
}

.tweeplaatje {
  width: 15rem;
  height: 15rem;
  margin-right: 10%;
}
