.winkelmanden .winkelmand {
  border-color: plum;
  border-style: solid;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bezorgenophalen {
  display: flex;
  flex-direction: row;
}
.buttondelete {
  margin: 1%;
}
.winkelmand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10%;
}
.winkelmanden form label {
  margin: 2px;
}
.winkelmanden form input {
  margin: 2px;
}
.winkelmanden {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
}
.inwinkelmand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1025px) {
  .inwinkelmand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .winkelmanden {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
