.winkelmanden .winkelmand {
  border-color: plum;
  border-style: solid;
}
.bezorgenophalen {
}
.bezorgen label {
  margin-bottom: 3%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.allesinform {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.bezorgen {
  display: flex;
  flex-direction: column;
}
.ophalen {
  display: flex;
  flex-direction: column;
}
.buttondelete {
  margin: 1%;
}
.winkelmand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10%;
}
.winkelmanden form label {
  margin: 2px;
}
.winkelmanden form input,
.winkelmanden form select {
  margin: 2px;
  margin-bottom: 6px;
}

.winkelmanden {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 100%;
}
.inwinkelmand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.submitwinkelwagen {
  margin-top: 2%;
}
form .form-group {
  margin-top: 3%;
}
@media screen and (max-width: 1025px) {
  .inwinkelmand {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .winkelmanden {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .ophalen {
    margin-left: 5%;
  }
  .winkelmand {
    margin-bottom: 20px;
  }
  .submitwinkelwagen {
    margin: 5%;
  }
}
