.winkelmanden .winkelmand {
  border-color: plum;
  border-style: solid;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bezorgenophalen {
  display: flex;
  flex-direction: row;
}
.buttondelete {
  margin: 1%;
}
.winkelmand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10%;
}
